@import url(https://fonts.googleapis.com/css?family=Muli:700,400,900);
.header_aera{background:#fff;border-radius:0;border:0;margin:0;width:100%;z-index:9999;top:0;box-shadow:0 0 20px 0 rgba(21,47,95,.2);position:fixed}
.header_aera .searchForm{height:0;overflow:hidden;transition:all .3s linear 0s}
.header_aera .searchForm .input-group-addon{border-radius:0;border:none;font-size:14px;padding:0 45px;background:#f6b60b;color:#fff;cursor:pointer}
.header_aera .searchForm .form-control{height:79px;padding:0 15px;border-radius:0;border:none;color:#fff;background:#f6b60b;text-align:center;font:400 16px Roboto,sans-serif;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)}
.header_aera .searchForm .form-control.placeholder{font:400 16px Roboto,sans-serif;color:#fff}
.header_aera .searchForm .form-control:-moz-placeholder{font:400 16px Roboto,sans-serif;color:#fff}
.header_aera .searchForm .form-control::-webkit-input-placeholder{font:400 16px Roboto,sans-serif;color:#fff}
.header_aera .show{height:80px;border-bottom:1px solid transparent}
.header_aera .navbar-header .navbar-brand img{max-width:100%;margin-top:0}
.header_aera .navbar-collapse .navbar-nav.navbar-right li a{font:700 14px/100px Roboto,sans-serif;color:#222;text-transform:uppercase;padding:0;padding-left:30px}
.header_aera .navbar-collapse .navbar-nav.navbar-right li a:focus,.header_aera .navbar-collapse .navbar-nav.navbar-right li a:hover{color:#f6b60b}
.header_aera .navbar-collapse .navbar-nav.navbar-right li .nav_searchFrom{width:100px;background:#f6b60b;color:#fff;padding:0;text-align:center;margin-left:15px}
.header_aera .navbar-collapse .navbar-nav.navbar-right li .nav_searchFrom:focus,.header_aera .navbar-collapse .navbar-nav.navbar-right li .nav_searchFrom:hover{color:#222}
.pt-100{padding-top:100px;box-shadow: 0 0 20px 0 rgba(21,47,95,.2);}
@media (min-width:768px){
.header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu .other_dropdwn{margin-right:-122px}
}
.header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul{border:none;box-shadow:none;border-radius:0;min-width:190px;transition:all .5s ease-in-out;background:#f6b60b}
@media (min-width:768px){
.header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul{margin-right:-150px;display:block;transform:rotateX(-90deg);transform-origin:top}
}
.header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul li{display:block}
.header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul li a{line-height:normal;font:700 14px/normal Roboto,sans-serif;padding:12px 8px;display:block}
.header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul:before{content:"";width:100%;height:5px;background:#222;position:absolute;top:0;transform:translateZ(0);backface-visibility:hidden;transform:scaleX(0);transform-origin:0 50%;transition:all .8s ease-in-out}
.header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul:after{content:"";width:100%;height:5px;position:absolute;bottom:0;background:#222;transform:translateZ(0);backface-visibility:hidden;transform:scaleX(0);transform-origin:100% 50%;transition:all .8s ease-in-out}
@media (min-width:768px){
.header_aera .navbar-collapse .navbar-nav.navbar-right li:hover.submenu ul{transform:rotateX(0)}
.header_aera .navbar-collapse .navbar-nav.navbar-right li:hover.submenu ul:before{transform:scaleX(1)}
.header_aera .navbar-collapse .navbar-nav.navbar-right li:hover.submenu ul:after{transform:scaleX(1)}
}
.navbar-nav li{-webkit-box-flex:1;-webkit-flex:1 1 auto;-ms-flex:1 1 auto;flex:1 1 auto}
.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover{background-color:transparent}
.dropdown-menu{padding:0;margin:0;border:0 solid transition!important;border:0 solid rgba(0,0,0,.15);border-radius:0;-webkit-box-shadow:none!important;box-shadow:none!important}
.mainmenu a,.navbar-default .navbar-nav>li>a,.navbar-expand-lg .navbar-nav .nav-link{color:rgba(88,89,91,1);text-transform:uppercase;padding:0 20px;display:block!important;font-weight:700;font-size:14px;font-family:Muli,sans-serif;line-height:100px}
.mainmenu .collapse ul ul>li:hover>a,.navbar-default .navbar-nav .show .dropdown-menu>li>a:focus,.navbar-default .navbar-nav .show .dropdown-menu>li>a:hover{background:#4caf50}
.mainmenu .collapse ul ul ul>li:hover>a{background:#4caf50}
.mainmenu li a:hover{color:#f6b60b}
.mainmenu .collapse ul ul,.mainmenu .collapse ul ul.dropdown-menu{border:none;box-shadow:none;border-radius:0;min-width:300px;transition:all .5s ease-in-out;background:#f6b60b}
.mainmenu .collapse ul ul ul,.mainmenu .collapse ul ul ul.dropdown-menu{background:#1e88e5}
.mainmenu .collapse ul ul ul ul,.mainmenu .collapse ul ul ul ul.dropdown-menu{background:#64b5f6}
.dropdown-menu li a{line-height:normal;font:700 14px/normal Roboto,sans-serif;padding:12px 8px}
.mainmenu .collapse ul li:hover.submenu ul{transform:rotateX(0)}
.mainmenu{background:0 0;border:0 solid;margin:0;padding:0;min-height:20px;width:100%}
@media only screen and (min-width:767px){
.mainmenu .collapse ul li:hover>ul{display:block}
.mainmenu .collapse ul ul{position:absolute;top:100%;left:0;min-width:250px;display:none}
.mainmenu .collapse ul ul li{position:relative}
.mainmenu .collapse ul ul li:hover>ul{display:block}
.mainmenu .collapse ul ul ul{position:absolute;top:0;left:100%;min-width:250px;display:none}
.mainmenu .collapse ul ul ul li{position:relative}
.mainmenu .collapse ul ul ul li:hover ul{display:block}
.mainmenu .collapse ul ul ul ul{position:absolute;top:0;left:-100%;min-width:250px;display:none;z-index:1}
}
@media only screen and (max-width:767px){
.navbar-nav .show .dropdown-menu .dropdown-menu>li>a{padding:16px 15px 16px 35px}
.navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu>li>a{padding:16px 15px 16px 45px}
}
.banneroverlay_color{max-height:650px}
.banneroverlay_color::before{position:absolute;width:100%;height:650px;max-height:650px;content:""}
.banneroverlay_color img{max-height:650px;width:100%}
.banner_txt{pointer-events:none;flex-direction:column;top:calc(0% + 320px);align-items:center;height:auto;width:100%;position:absolute;margin:0;display:flex;left:0}
.banner_txt h1{background-color:rgba(255,255,255,0);width:860px;margin-right:2px;height:auto;pointer-events:auto;margin-left:-2px;position:relative;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:Muli,Helvetica,Arial,serif;font-weight:900;font-style:normal;font-size:48px;color:rgba(255,255,255,1);text-align:center;letter-spacing:2.5px;line-height:66px}
.banner_txt p{pointer-events:auto;font-family:Muli,Helvetica,Arial,serif;font-weight:700;font-style:normal;font-size:30px;color:rgba(255,255,255,1);text-align:center;letter-spacing:.6px;line-height:38px}
.forgetabout_section{padding:3em 0}
.section_title{font-family:Muli,Helvetica,Arial,serif;font-weight:900;font-style:normal;font-size:48px;color:rgba(88,89,91,1);text-align:center;letter-spacing:2.5px;line-height:60px}
.forgetabout_list{padding:0;margin:3em 0 0 0;display:flex;justify-content:center;align-items:center;width:100%;list-style:none}
.forgetabout_list li{-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:Muli,Helvetica,Arial,serif;font-weight:700;font-style:normal;font-size:20px;color:rgba(88,89,91,1);text-align:left;line-height:25px}
.forgetabout_list li::after{content:"|";font-family:Muli,Helvetica,Arial,serif;font-weight:400;font-style:normal;font-size:34px;color:rgba(88,89,91,.8);position:absolute;right:30px;top:9px}
.forgetabout_list li:last-child::after{content:none}
.forgetpara_style{-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:Muli,Helvetica,Arial,serif;font-weight:700;font-style:normal;font-size:25px;color:#002956;text-align:center;line-height:31px;margin-top:4em}
.arrow{background:#fe5f55}
.arrow:hover{background:#fe2f22}
.arrow:active,.arrow:focus{background:#b90c01}
.arrow:after{content:"\F054"}
.arrow:hover:after{-webkit-animation:bounceright .3s alternate ease infinite;animation:bounceright .3s alternate ease infinite}
.button:after,.button:before{position:absolute;top:0;bottom:0;right:0;padding-top:inherit;padding-bottom:inherit;width:2.8em;content:"\f105";font-family:'Font Awesome 5 Free',fontawesome;font-size:1.2em;text-align:center;transition:.2s;transform-origin:50% 60%}
.button:before{background:rgba(0,0,0,.1)}
.button:hover{background:#0079a5}
.button:active,.button:focus{background:#002e3f;outline:0}
.button{min-width:15em}
.sociallist{display:flex;justify-content:center;align-items:center;list-style:none}
.sociallist li a{display:inline-block;width:40px;height:40px;border-radius:50%;background:#318bff;line-height:40px;text-align:center;color:#fff;font-size:20px;margin-left:20px}
.jobopening_section{padding:5em 20px 3em;background:#d2bc18}
.jobtitle_style+p{color:#040659;margin-top:30px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:Muli,Helvetica,Arial,serif;font-weight:400;font-style:normal;font-size:16px;text-align:center;letter-spacing:1px;line-height:20px}
.jobtitle_style{font-family:Muli,Helvetica,Arial,serif;font-weight:900;font-style:normal;font-size:30px;color:#fff;text-align:center}
.jobtitle_style span{color:#103d70}
.forgetbtn_style{text-align:center;margin-top:5em}
.footer_style{background:#103d70;padding:10px;text-align:center;color:#fff}
.footer_style p{margin:0}
.button{background-color:#009ed8;padding:.8em 1.4em;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:Muli,Helvetica,Arial,serif;font-weight:900;font-style:normal;font-size:21px;color:rgba(255,255,255,1);border:none;text-align:left;letter-spacing:1px;line-height:26px;text-transform:uppercase}